body {
  margin: 0;
  padding: 0;
  height: 575px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  background-color: #e5e5e5;
}

.head {
  padding: 10px 0;
  background-color: #fff;
}

.navbar {
  min-height: px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  color: #6070ff;
}

a {
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #344563;
  margin-right: 5rem;
}

.nav-item {
  margin: 16px 0;
}

.nav-link:hover {
  width: 20px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #0921fa;
  opacity: 60%;
}

.logo:hover {
  transform: rotate(20deg);
  transition: 0.5s all;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

@media only screen and (max-width: 768px) {
  * {
    max-width: 100%;
  }

  .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
    cursor: pointer;
    color: rebeccapurple;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 28px;
    padding: 106px 96px 0 28px;
    gap: 0;
    background-color: rgba(96, 112, 255, 0.8);
    mix-blend-mode: multiply;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 45rem;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: -30px;
  }
}

.introduction {
  padding-top: 100px;
  background: url(images/header-shapes\ mobile.png) no-repeat;
  background-size: 100%;
  background-color: #fff;
  height: 700px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

h1 {
  font-family: "poppins", sans-serif;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 150px;
  display: flex;
  align-items: center;
}

#description {
  font-family: "pippins", sans-serif;
  color: #344563;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  flex: none;
  width: 327px;
  height: 146px;
}

#connect {
  font-family: "poppins", sans-serif;
  color: #7f8cff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  height: 24px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

ul {
  padding: 0;
  margin: 0;
  font: bolder;
  font-size: 25px;
  word-spacing: 10px;
}

li {
  display: inline;
}

ul li i {
  color: #505f79;
}

.grid-container {
  display: grid;
  row-gap: 104px;
  padding: 114px 24px;
}

.computer {
  display: none;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px 16px 24px 16px;
  border: 0 solid #dfe1e6;
  border-radius: 10px;
  background-color: #fff;
}

.pic1 {
  padding: 0;
  margin: 0;
  height: 220px;
  width: 295px;
  top: 16px;
  border-radius: 8px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.tonic {
  font-family: "poppins", sans-serif;
  font-style: bold;
  font-size: 32px;
  line-height: 44px;
  line-height: 92%;
  align-self: left;
  vertical-align: top;
  margin: 0;
  padding-top: 10px;
}

.type {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.type ul {
  padding-left: 20px;
}

.canopy {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  line-height: 82%;
  align-self: left;
  vertical-align: top;
  color: #344563;
}

.opt-period {
  font-family: "poppins", sans-serif;
  font-style: "semiBold";
  font-size: 13px;
  line-height: 16px;
  line-height: 82%;
  align-items: left;
  padding: 0 10px;
  color: #7a869a;
  margin: 0;
  font-weight: 500;
}

.explanations {
  font-family: "poppins", sans-serif;
  font-style: "Regular";
  font-size: 15px;
  line-height: 24px;
  align-items: left;
  vertical-align: top;
  color: #344563;
  fill: solid;
  font-weight: 500;
}

.css-html-js ul {
  width: auto;
  float: left;
  margin-left: -10px;
}

.css-html-js ul li {
  float: left;
  list-style: none;
  margin: 5px 5px 15px 5px;
}

.css-html-js ul li .all {
  font-family: "pippins", sans-serif;
  line-height: 24px;
  color: #396df2;
  font-size: 17px;
  margin: 4px 2px;
  letter-spacing: 3%;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px hidden;
  border-radius: 5px;
}

.button {
  font-family: "pippins", sans-serif;
  font-style: medium;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 114px;
  background-size: 100%;
  background-color: #fff;
  height: 600px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0 100px 0 0;
}

.abt-head {
  font-style: bold;
  font-size: 40px;
  line-height: 52px;
  fill: solid;
  color: #172b4d;
  margin: -20px 0;
  padding-bottom: 20px;
}

#self-desription {
  font-family: "pippins", sans-serif;
  color: #344563;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  font-family: "poppins", sans-serif;
  color: #7f8cff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  height: 24px;
}

.ul-connect {
  padding: 0;
  margin: 0;
  font: bolder;
  font-size: 25px;
  word-spacing: 10px;
  margin-bottom: 20px;
}

.button-1 {
  font-family: "pippins", sans-serif;
  font-style: medium;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  width: 110px;
  margin-bottom: -20px;
  margin-top: 30px;
}

.category {
  background-color: #fff;
  padding: 24px;
  margin: -50px 0;
  height: 40cm;
}

.categories li i {
  float: right;
  padding-right: 30px;
  font-size: 18px;
  padding-bottom: 100px;
}

.java-css-html {
  display: flex;
  padding: 20px;
}

.language-1 {
  display: grid;
  row-gap: 10px;
}

.lang {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #e5e5e5;
  padding: 0 20px;
  width: 270px;
  height: 66.72px;
  border-radius: 10px;
}

.lang img {
  width: 48px;
  height: 48px;
  background-position-x: 12px;
}

.lang p {
  font-family: "poppins", sans-serif;
  font-style: medium;
  font-size: 15px;
  line-height: 20px;
  align-items: left;
  color: #253858;
}

.About-my-self {
  margin-bottom: 20px;
  height: 30cm;
}

.li-style {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 60px;
}

.footer {
  background-color: #6070ff;
  height: 130vh;
  border-radius: 100px 0 0 0;
  margin-top: 6rem;
}

.contact {
  background: url(./images/contact-background.png) no-repeat;
  background-size: 58%;
  background-position: 22vmax;
  height: 90%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-family: "poppins", sans-serif;
  font-style: "regular";
  align-items: center;
}

.contact h1 {
  color: #fff;
  padding-left: 30px;
  font-family: "poppins", sans-serif;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
}

form {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 15px 10px;
  border: 1px hidden;
  border-radius: 5px;
}

::placeholder {
  padding: 10px;
  font-family: "poppins", sans-serif;
  font-size: 17px;
  line-height: 24px;
  vertical-align: top;
  color: #b3bac5;
}

textarea {
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px hidden;
}

.get-in-touch-btn {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin: 20px 5px 300px 5px;
  background-color: #fff;
  width: 150px;
  padding: 13px 20px;
  border: 1px hidden;
  border-radius: 8px;
  text-decoration: none;
}

.get-in-touch-btn:hover {
  background-color: #6070ff;
  color: #fff;
  transition: 0.5s;
}

.get-in-touch-btn:enabled {
  border: 1px solid #7f8cff;
  background-color: #fff;
  color: #6070ff;
}

.get-in-touch-btn:visited {
  background-color: #2230d2;
}

.get-in-touch-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.get-in-touch-btn:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

@media only screen and (min-width: 1250px) {
  body {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    padding: 25px 10%;
    display: flex;
  }

  .nav-menu {
    display: block;
    align-items: center;
    word-spacing: 20px;
  }

  .introduction {
    padding-left: 260px;
    padding-bottom: 100px;
    background: url(./images/Header-img-computer-version.png) no-repeat;
    background-size: 90%;
    background-position: 5vmax;
    background-color: #fff;
  }

  .introduction h1 {
    width: 100%;
    height: auto;
  }

  #description {
    width: 100%;
    height: auto;
  }

  .work {
    display: none;
  }

  .computer {
    display: grid;
  }

  .descript .tonic {
    padding: 20px 0;
    color: #091e42;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 10%;
  }

  .cards .descript {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: left;
    align-items: baseline;
  }

  .cards .pic1 {
    height: auto;
    width: 60%;
  }

  .cards-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 10%;
    padding: 16px 16px 24px 16px;
    border: 0 solid #dfe1e6;
    border-radius: 10px;
    background-color: #fff;
  }

  .cards-1 .descript {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: baseline;
    width: 40%;
    padding: 10px 0 5px 0;
    margin: 20px;
  }

  .descript .type {
    display: flex;
    gap: 20px;
    padding-bottom: 32px;
  }

  .descript .explanations {
    margin: 0;
    padding-bottom: 28px;
    color: #344563;
    font-size: 16px;
    font-weight: 400;
  }

  .descript .css-html-js {
    margin: 0;
    padding-bottom: 12px;
  }

  .descript .css-html-js li {
    border-radius: 8px;
    background-color: #ebebff;
  }

  .descript .css-html-js .all {
    background-color: #ebebff;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    color: #6070ff;
    margin: 0;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .descript .button:hover {
    background-color: #7f8cff;
    color: #fff;
    transition: 0.5s;
  }

  .descript .button:visited {
    background-color: #2230d2;
    transition: 0.5s;
  }

  .descript .button:active {
    background-color: #2230d2;
    color: #fff;
    transition: 0.5s;
  }

  .descript .button:disabled {
    background-color: #e5e5e5;
    color: #5e6c84;
  }

  .cards-1 .pic2 {
    height: auto;
    width: 60%;
  }

  .all-about {
    background-color: #fff;
    display: flex;
    align-self: baseline;
    justify-content: center;
    border-radius: 0 100px 0 0;
  }

  .About-my-self .about {
    height: auto;
    width: 40%;
    margin: 0 0 2rem 0;
    padding: 114px 0 0 100px;
  }

  .about #self-description {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #344563;
  }

  .about .button-1:hover {
    background-color: #7f8cff;
    color: #fff;
    transition: 0.5s;
  }

  .about .button-1:visited {
    background-color: #2230d2;
    transition: 0.5s;
  }

  .about .button-1:active {
    background-color: #2230d2;
    color: #fff;
    transition: 0.5s;
  }

  .about .button-1:disabled {
    background-color: #e5e5e5;
    color: #5e6c84;
  }

  .category {
    background-color: #fff;
    padding: 24px;
    margin: 80px;
    width: 40rem;
  }

  .categories {
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  .li-style p {
    background-color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #344563;
  }

  .java-css-html {
    display: none;
  }

  .j-c-h {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0%;
  }

  .language-1 {
    display: none;
  }

  .language-2 {
    background-color: #fff;
    display: flex;
    width: 33rem;
  }

  .lang {
    display: none;
  }

  .lango {
    background-color: #f7f7f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
  }

  .lango p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    margin-top: -12px;
  }

  .footer {
    display: none;
  }

  .foot {
    display: grid;
    background-color: #6070ff;
    margin-top: -80px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }

  .contact {
    margin-top: 100px;
    display: flex;
    justify-content: baseline;
    background: url(./images/Header-img-computer-version.png) no-repeat;
    background-size: 90%;
    background-position: 3vmax;
    border-radius: 100px 0 0 0;
  }

  .contact p {
    text-align: center;
    width: 500px;
  }

  form {
    width: 24rem;
  }

  .get-in-touch-btn {
    align-self: center;
  }

  .get-in-touch-btn:hover {
    background-color: #7f8cff;
    color: #fff;
    transition: 0.5s;
  }

  .get-in-touch-btn:visited {
    background-color: #2230d2;
    transition: 0.5s;
  }

  .get-in-touch-btn:active {
    background-color: #2230d2;
    color: #fff;
    transition: 0.5s;
  }

  .get-in-touch-btn:disabled {
    background-color: #e5e5e5;
    color: #5e6c84;
  }
}

/* End */
